/* line 5, /Users/rbz/Documents/UDEMY/code/devcamp-tutorials/DevcampPortfolio/app/assets/stylesheets/portfolios.scss */
body {
  background-color: black;
  color: white;
}

/* line 10, /Users/rbz/Documents/UDEMY/code/devcamp-tutorials/DevcampPortfolio/app/assets/stylesheets/portfolios.scss */
.top a {
  color: red;
}
