<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>Rd. Test Address No. 888. Kav 1-10</p>

    <h3>Phone</h3>
    <p><%= number_to_phone "+628998790989" %></p>

    <h3>Email</h3>
    <p><a href="mailto:test@test.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4337345468603!2d106.82200493768632!3d-6.206378508376195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f41ccffa8929%3A0x415e1ba0bd3e2b3!2sPrince+Center+Building!5e0!3m2!1sen!2sid!4v1505754092030" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
